.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70px;
    background-color: #634b79;
    color: white;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.header a[class='active'] {
    color: yellow;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
